body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #222222;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background-color: white;
    border-bottom: 2px solid #222222;
}

    .navbar a {
        font-size: 1.5em;
        font-weight: 1000;
        color: #222222;
    }


.body-content {
    margin-left: 35%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8em;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    border: 5px solid #FCA908;
    width: 17em;
    height: 17em;
    padding: 0.7em;
    margin-bottom: 2%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
    color: #222222;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .product-button:hover {
        width: 17.2em;
        height: 17.2em;
    }


.products-list {
    font-family: 'Roboto Mono', monospace;
}

    .products-list form {
        display: inline-block;
        margin: 4%;
        text-align: center;
    }


.attributes-list {
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 1000;
    padding: 1.5%;
    margin-top: 2%;
}

.nav-link {
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.filter-bar {
    padding: 1%;
    left: 0;
    position: fixed;
    height: 100%;
    width: 16%;
    background-color: white;
}

    .filter-bar input {
        width: 100%;
    }

    .filter-bar button {
        width: 100%;
        background-color: #FCA908;
        border-color: #FCA908;
        color: #222222;
        margin-top: 5%;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .filter-bar button:hover {
            width: 100%;
            background-color: white;
            border-color: white;
            color: #222222;
            margin-top: 5%;
        }

    .filter-bar select {
        width: 100%;
        color: #222222;
    }

    .filter-bar label {
        text-align: center;
        width: 100%;
    }

.filter-border {
    margin: 0.2%;
    padding: 2%;
    background-color: #222222;
    border: 2px solid #222222;
    border-radius: 10px;
    color: white;
}

.filtering {
    margin-top: 15%;
    border: 1px solid #222222;
}

    .filtering input {
        color: #222222;
    }

    .filtering label {
        margin-top: 10%;
    }


.checkbox-input input {
    width: auto;
}



.dropdown {
    width: 187%;
}


.dropdown-menu {
    background-color: #FCA908;
    width: 100%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .dropdown-menu a {
        color: #222222;
        margin-left: 5%;
        margin-bottom: 30%;
        font-size: 1.5em;
        font-weight: 1000;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

        .dropdown-menu a:hover {
            color: #222222;
            font-size: 1.6em;
            text-decoration: none;
        }

.cart-action {
    width: 100%;
    height: 30%;
    background-color: green;
    border-radius: 10px 0px 10px 0px;
    color: white;
    padding: 2%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .cart-action:hover {
        background-color: darkgreen;
    }

    .cart-action a {
        color: white;
        text-decoration: none;
    }

#prices {
    top: 0;
    position: absolute;
    font-size: 1em;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
}

#shop-name {
    margin-left: 17%;
    font-family: 'Lobster', cursive;
}

.auth-fields {
    color: white;
    width: 100%;
    margin-top: 10%;
    margin-left: 15%;
}

    .auth-fields input {
        width: 100%;
    }

.btn-primary {
    background-color: #FCA908;
    border-color: #FCA908;
    color: #222222;
}

    .btn-primary:hover {
        background-color: white;
        border-color: white;
        color: #222222;
    }

.auth-element {
    margin-bottom: 2%;
}

.product {
    background-color: white;
    margin-left: -35.2%;
    padding: 5%;
    width: 100%;
}

.product-attrs {
    margin-bottom: 10%;
}

.price-and-carts {
    float: right;
    width: 20%;
}

.product-in-cart {
    text-align: center;
    width: 100%;
    height: 30%;
    float: right;
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 10%;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .product-in-cart:hover {
        background-color: #222222;
    }

    .product-in-cart a {
        color: white;
        text-decoration: none;
    }

.cart-div {
    margin-left: -35%;
    background-color: white;
    padding: 5%;
}

    .cart-div table {
        width: 80%;
        font-size: 1.8em;
        border-collapse: collapse;
        border-radius: 10px;
        border-style: hidden;
    }

    .cart-div td {
        height: 50px;
        background-color: #222222;
        border: 5px solid white;
        border-radius: 10px;
        color: white;
        padding-left: 1%;
    }

    .cart-div input {
        color: white;
        background-color: #222222;
        border: none;
    }

.minus, .quantity, .plus {
    display: inline;
    background-color: #222222;
    border: none;
    color: white;
    text-decoration: none;
    width: 30%;
    text-align: center;
}

#final-sum {
    width: 50%;
}

.order-div {
    margin-left: -10%;
    width: 60%;
}

    .order-div input {
        max-width: 100%;
    }

.order-and-price {
    display: inline;
}

#price-final {
    float: right;
    background-color: white;
    color: #222222;
    font-size: 2em;
    border-radius: 10px;
    padding: 1%;
}

.order-done {
    margin-top: 20%;
    color: white;
    font-size: 2em;
    margin-left: -20%;
}

    .order-done btn-primary {
        width: 20%;
        margin-left: 20%;
    }

.user-div {
    margin-left: -20%;
}

.user-div table {
    width: 80%;
    font-size: 1.8em;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
}

.user-div td {
    height: 50px;
    background-color: white;
    border: 5px solid #222222;
    border-radius: 10px;
    color: #222222;
    padding-left: 1%;
}

.btn-to-order {
    background-color: transparent;
    font-size: 1em;
    color: #222222;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn-to-order:hover {
    font-size:0.95em;
}

.radio-view input {
    width: auto;
}

.admin-action {
    margin-top: 5%;
}

.admin-action a {
    color: white;
}

.admin-div {
    float: left;
    font-size: 2em;
    margin-top: 10%;
}

.admin-div li {
    margin-bottom: 10%;
}

